@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: var(--font-poppins);
  --font-press-start-2p: var(--font-press-start-2p);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-press-start-2p), monospace !important;
}
h2 {
  font-family: var(--font-press-start-2p), monospace !important;
  font-size: 2rem;
  line-height: 1.2;
}